{# cadastro\templates\cadastro\detalhe.html #}

{% extends 'cadastro/base.html' %}

{% block titulo %}{{ musica.titulo }}{% endblock %}

{% block conteudo %}

{% if musica.capa_url %}
<img src="{{ musica.capa_url }}" alt="Capa de {{ musica.titulo }}" width="200" height="200" style="object-fit: cover; border-radius: 10px;" class="mb-3">
{% endif %}

<h2>{{ musica.titulo }}</h2>
<p><strong>Artista:</strong> {{ musica.artista }}</p>
{% if musica.album %}
<p><strong>Álbum:</strong> {{ musica.album }}</p>
{% endif %}
{% if musica.ano %}
<p><strong>Ano:</strong> {{ musica.ano }}</p>
{% endif %}

{% if user.is_authenticated %}
<a href="{% url 'editar' musica.id %}">Editar</a> |
<a href="{% url 'deletar' musica.id %}">Apagar</a> |
{% endif %}
<a href="{% url 'index' %}">Voltar</a>

{% endblock %}