{# cadastro\templates\cadastro\editar.html #}

{% extends 'cadastro/base.html' %}

{% block titulo %}Editar {{ musica.titulo }}{% endblock %}

{% block conteudo %}
<h2>Editar {{ musica.titulo }}</h2>

<form method="POST">
    {% csrf_token %}

    {% for field in form %}
    <p class="mb-3">
        {{ field.label_tag }}
        {{ field }}
    </p>
    {% endfor %}

    <button type="submit" class="btn btn-dark">Salvar</button>
    <a href="{% url 'detalhe' musica.id %}" class="btn btn-secondary">Cancelar</a>
</form>

{% endblock %}