/*
cadastro\static\cadastro\style.css
folhas de estilo globais
*/

body {
    font-family: Arial, sans-serif;
    background-color: #a6d5e7;

}

nav {
    background-color: #006eff;
    padding: 10px;
    border-radius: 12px;
    color: rgb(255, 255, 255);
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-right: 10px;
}

h1 {
    color: #333;
}

button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: inherit;
    border: none;
    border-radius: 20px !important;
     text-align: center !important;
    padding-right: 20px;
    cursor: pointer;
}

.success {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border-radius: 4px;
    list-style: none;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 4px;
    list-style: none;
}